

.MainDiv{
    display: flex;
    flex-direction: column;
    margin-top:15vh;
    height: 85vh;
    width: 85vw;
    margin-right: 15vw;
    position: relative;
    background-image: url("https://avatars.mds.yandex.net/i?id=f31afb63500917751b585abd3fdf4415_l-4589186-images-thumbs&n=13");
    background-size:100% 100%;
    
}

.firstDiv{
    height: 30vh;
    width: 100vw;
    padding:9vh 5vw 0 5vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.lastDiv{
    height: 55vh;
    width: 100vw;
}

.But{
    background-color: gold;
    padding: 1% 2% 1% 2%;
    border-radius: 2em;
    position: absolute;
    bottom: 25vh;
    right: 4vw;
    font-size: 2em;
    color: white;
    border:3px solid gold;
    transition: 1s;
}

.But:hover{
    background-color: white;
    color:gold;
    transform: scale(1.1);
    
}